<h1>Result</h1>
<%= @word %>

<% if @included %>
  <% if @english_word %>
    <p><strong>Congratulations!</strong> <%= @word %> is a valid English word!</p>
  <% else %>
    <p>This word is not an english word.</p>
  <% end %>
<% else %>
  <p>Sorry, but <%= @word %> is not created from the letters array</p>
<% end %>


<p class="button"><%= link_to "Play again", new_path %></p>
